In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Blinkit_Grocery_Project.csv")

In [3]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size_Cleaned,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.81,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.27,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.62,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.10,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.86,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8523.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.858633,0.066132,140.992878,1997.831867,2181.288914
std,4.231966,0.051598,62.275160,8.371760,1706.499616
min,4.560000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026989,93.825000,1987.000000,834.247400
50%,12.870000,0.053931,143.010000,1999.000000,1794.331000
75%,16.000000,0.094585,185.645000,2004.000000,3101.296400
max,21.350000,0.328391,266.890000,2009.000000,13086.964800

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5    Item_MRP                  8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size_Cleaned        8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# 1. What is the total Item Outlet Sales?

In [9]:
total_item_outlet_sales = df["Item_Outlet_Sales"].sum()
print(total_item_outlet_sales)

18591125.4104

# 2. What is the average Item Outlet Sales?

In [10]:
avg_item_outlet_sales = df["Item_Outlet_Sales"].mean()
print(avg_item_outlet_sales)

2181.288913575032

# 3. Which Item_Type generates the highest total sales?

In [11]:
high_sales_by_item_type = (
    df.groupby("Item_Type")["Item_Outlet_Sales"]
    .sum()
    .sort_values(ascending=False)
)

print(high_sales_by_item_type)

Item_Type
Fruits and Vegetables    2.820060e+06
Snack Foods              2.732786e+06
Household                2.055494e+06
Frozen Foods             1.825735e+06
Dairy                    1.522594e+06
Canned                   1.444151e+06
Baking Goods             1.265525e+06
Health and Hygiene       1.045200e+06
Meat                     9.175656e+05
Soft Drinks              8.928977e+05
Breads                   5.532372e+05
Hard Drinks              4.577934e+05
Starchy Foods            3.514013e+05
Others                   3.255176e+05
Breakfast                2.322990e+05
Seafood                  1.488682e+05
Name: Item_Outlet_Sales, dtype: float64

# 4. Which Item_Type generates the lowest total sales?

In [12]:
low_sales_by_item_type = (
    df.groupby("Item_Type")["Item_Outlet_Sales"]
    .sum()
    .sort_values(ascending=True)
)
print(low_sales_by_item_type)

Item_Type
Seafood                  1.488682e+05
Breakfast                2.322990e+05
Others                   3.255176e+05
Starchy Foods            3.514013e+05
Hard Drinks              4.577934e+05
Breads                   5.532372e+05
Soft Drinks              8.928977e+05
Meat                     9.175656e+05
Health and Hygiene       1.045200e+06
Baking Goods             1.265525e+06
Canned                   1.444151e+06
Dairy                    1.522594e+06
Frozen Foods             1.825735e+06
Household                2.055494e+06
Snack Foods              2.732786e+06
Fruits and Vegetables    2.820060e+06
Name: Item_Outlet_Sales, dtype: float64

# 5. What is the sales distribution across different Item_Fat_Content?

In [13]:
fat_content_sales = df.groupby("Item_Fat_Content")["Item_Outlet_Sales"].sum().round(2)

print(fat_content_sales)

Item_Fat_Content
Low Fat    11904094.53
Regular     6687030.88
Name: Item_Outlet_Sales, dtype: float64

# 6. Do Low Fat items sell more than Regular items?

In [14]:
# Yes, Low Fat Sell more than Regular items
fat_content_sales = df.groupby("Item_Fat_Content")["Item_Outlet_Sales"].sum().round(2)
print(fat_content_sales)

Item_Fat_Content
Low Fat    11904094.53
Regular     6687030.88
Name: Item_Outlet_Sales, dtype: float64

# 7. What is the average sales per item?

In [15]:
avg_item_sale = df.groupby("Item_Type")["Item_Outlet_Sales"].mean().sort_values(ascending=False)
print(avg_item_sale)

Item_Type
Starchy Foods            2374.332773
Seafood                  2326.065928
Fruits and Vegetables    2289.009592
Snack Foods              2277.321739
Household                2258.784300
Dairy                    2232.542597
Canned                   2225.194904
Breads                   2204.132226
Meat                     2158.977911
Hard Drinks              2139.221622
Frozen Foods             2132.867744
Breakfast                2111.808651
Health and Hygiene       2010.000265
Soft Drinks              2006.511735
Baking Goods             1952.971207
Others                   1926.139702
Name: Item_Outlet_Sales, dtype: float64

# 8. Which Item_Identifier contributes the highest sales?

In [16]:
item_identifier_sales = df.groupby("Item_Identifier")["Item_Outlet_Sales"].sum().sort_values(ascending=False)
print(item_identifier_sales)

Item_Identifier
FDY55    42661.8008
FDA15    41584.5364
FDZ20    40185.0248
FDF05    36555.7490
FDA04    35741.4756
            ...
FDQ04      784.3124
FDF38      771.6622
FDY43      673.7896
NCR42      332.9000
FDQ60      120.5098
Name: Item_Outlet_Sales, Length: 1559, dtype: float64

# 9. What is the average Item_MRP across all products?

In [33]:
avg_MRP = df['Item_MRP'].mean()
print(avg_MRP)

140.99287809456763

# 10. What is the relationship between Item_MRP and Item_Outlet_Sales?

In [40]:
correlation = df["Item_MRP"].corr(df["Item_Outlet_Sales"]).round(2)

print(correlation)

0.57

# 11. Do higher MRP items generate higher sales?

In [45]:
df["MRP_Group"] = pd.qcut(df["Item_MRP"], 2, labels=["Low", "High"])
df.groupby("MRP_Group")["Item_Outlet_Sales"].mean()

C:\Users\Mayur\AppData\Local\Temp\ipykernel_12648\1843391259.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("MRP_Group")["Item_Outlet_Sales"].mean()

MRP_Group
Low     1352.997456
High    3009.774760
Name: Item_Outlet_Sales, dtype: float64

# 12. How does Item_Visibility affect sales?

In [39]:
visibility_sales_corr = df["Item_Visibility"].corr(df["Item_Outlet_Sales"])
visibility_sales_corr

np.float64(-0.12862461222077026)

# 13. Are there items with low visibility but high sales?

In [15]:
df[(df["Item_Visibility"] < 0.05) & (df["Item_Outlet_Sales"] > df["Item_Outlet_Sales"].mean())]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size_Cleaned,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.81,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.50,Regular,0.045464,Dairy,144.11,1997,Small,Tier 1,Supermarket Type1,2187.1530
18,DRI11,11.40,Low Fat,0.034238,Hard Drinks,113.28,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,12.28,Regular,0.035400,Baking Goods,144.54,1985,Medium,Tier 3,Supermarket Type3,4064.0432
24,FDR28,13.85,Regular,0.025896,Frozen Foods,165.02,1997,Small,Tier 1,Supermarket Type1,4078.0250
...,...,...,...,...,...,...,...,...,...,...,...
8499,NCK53,11.60,Low Fat,0.037574,Health and Hygiene,100.00,2004,Small,Tier 2,Supermarket Type1,2976.1260
8503,FDQ44,20.50,Low Fat,0.036133,Fruits and Vegetables,120.18,2004,Small,Tier 2,Supermarket Type1,3392.9168
8508,FDW31,11.35,Regular,0.043246,Fruits and Vegetables,199.47,2002,Medium,Tier 2,Supermarket Type1,2587.9646
8511,FDF05,17.50,Low Fat,0.026980,Frozen Foods,262.59,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8512,FDR26,20.70,Low Fat,0.042801,Dairy,178.30,1987,High,Tier 3,Supermarket Type1,2479.4392

# 14. Which items have the highest visibility but low sales?

In [19]:
df[(df["Item_Visibility"] > 0.05) & 
(df["Item_Outlet_Sales"] < df["Item_Outlet_Sales"].mean())]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size_Cleaned,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.48,1999,Medium,Tier 1,Supermarket Type1,1589.2646
14,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.44,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.00,Regular,0.069089,Breakfast,56.36,1997,Small,Tier 1,Supermarket Type1,1547.3192
17,FDP49,9.00,Regular,0.069196,Breakfast,54.36,1999,Medium,Tier 1,Supermarket Type1,718.3982
23,FDC37,12.28,Low Fat,0.057557,Baking Goods,107.69,1985,Small,Tier 1,Grocery Store,214.3876
...,...,...,...,...,...,...,...,...,...,...,...
8505,FDB46,10.50,Regular,0.094146,Snack Foods,210.82,2009,Medium,Tier 3,Supermarket Type2,2117.2440
8509,FDG45,8.10,Low Fat,0.214306,Fruits and Vegetables,213.99,1998,Medium,Tier 3,Grocery Store,424.7804
8514,FDA01,15.00,Regular,0.054489,Canned,57.59,2002,Medium,Tier 2,Supermarket Type1,468.7232
8516,NCJ19,18.60,Low Fat,0.118661,Others,58.76,2009,Medium,Tier 3,Supermarket Type2,858.8820
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.13,2009,Medium,Tier 3,Supermarket Type2,1845.5976

# 15. Which Outlet_Type generates the highest sales?

In [11]:
df.groupby("Outlet_Type")["Item_Outlet_Sales"].sum()

Outlet_Type
Grocery Store        3.680343e+05
Supermarket Type1    1.291734e+07
Supermarket Type2    1.851823e+06
Supermarket Type3    3.453926e+06
Name: Item_Outlet_Sales, dtype: float64

# 16. Which Outlet_Location_Type performs best in sales?

In [37]:
df.groupby("Outlet_Location_Type")["Item_Outlet_Sales"].sum().sort_values(ascending=False)

Outlet_Location_Type
Tier 3    7.636753e+06
Tier 2    6.472314e+06
Tier 1    4.482059e+06
Name: Item_Outlet_Sales, dtype: float64

# 17. Does Outlet_Size_Cleaned impact sales?

In [50]:
df.groupby("Outlet_Size_Cleaned")["Item_Outlet_Sales"].sum()

Outlet_Size_Cleaned
High      2.142664e+06
Medium    1.188225e+07
Small     4.566212e+06
Name: Item_Outlet_Sales, dtype: float64

# 18. Which Outlet_Establishment_Year has the highest sales?

In [56]:
df.groupby("Outlet_Establishment_Year")["Item_Outlet_Sales"].sum()

Outlet_Establishment_Year
1985    3.633620e+06
1987    2.142664e+06
1997    2.118395e+06
1998    1.883402e+05
1999    2.183970e+06
2002    2.036725e+06
2004    2.268123e+06
2007    2.167465e+06
2009    1.851823e+06
Name: Item_Outlet_Sales, dtype: float64

# 19. Are older outlets performing better than newer outlets?

# 20. Which outlet has the highest average sales per item?

In [20]:
df.groupby("Outlet_Identifier")["Item_Outlet_Sales"].mean().sort_values(ascending=False)

Outlet_Identifier
OUT027    3694.038558
OUT035    2438.841866
OUT049    2348.354635
OUT017    2340.675263
OUT013    2298.995256
OUT046    2277.844267
OUT045    2192.384798
OUT018    1995.498739
OUT019     340.329723
OUT010     339.351662
Name: Item_Outlet_Sales, dtype: float64

# 21. Which Item_Type performs best in each Outlet_Type?

In [19]:
pd.pivot_table(
    df,
    values="Item_Outlet_Sales",
    index="Item_Type",
    columns="Outlet_Type",
    aggfunc="sum"
)

Outlet_Type,Grocery Store,Supermarket Type1,Supermarket Type2,Supermarket Type3
Item_Type,,,,
Baking Goods,24827.0162,8.954611e+05,121065.0772,224172.1968
Breads,12604.9256,3.755085e+05,54604.9212,110518.8052
Breakfast,7843.7898,1.515268e+05,22496.0504,50432.3526
Canned,25759.1362,1.000560e+06,145681.7006,272150.4106
Dairy,31451.7262,1.076694e+06,152130.6394,262317.2104
Frozen Foods,33195.4564,1.292668e+06,183599.0106,316272.3108
Fruits and Vegetables,48602.0684,1.931958e+06,263471.7076,576028.1886
Hard Drinks,5835.7370,3.235542e+05,49445.6370,78957.8878
Health and Hygiene,24515.4218,7.127549e+05,108845.6498,199084.1870
Household,43707.1068,1.437220e+06,196267.1872,378299.5704
Meat,25576.7070,5.810450e+05,94655.4544,216288.4590
Others,7778.5414,2.401527e+05,37072.4098,40513.9300
Seafood,2284.3598,1.056079e+05,22166.4794,18809.5158
Snack Foods,51596.1710,1.889387e+06,278714.5328,513088.1172
Soft Drinks,18554.5144,6.380255e+05,88495.4728,147822.2476
Starchy Foods,3901.5880,2.652181e+05,33110.8998,49170.6616

# 22. What percentage of total sales comes from top 10 items?

In [43]:
top10 = df.groupby("Item_Identifier")["Item_Outlet_Sales"].sum().sort_values(ascending=False).head(10)
(top10.sum() / df["Item_Outlet_Sales"].sum()) * 100

np.float64(1.9741440278526063)